body {
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.15;
}
h1 {
    font-size: 200%;
    text-align: center;
}
.nav-link {
            text-decoration: none;
            color: #007BFF;
            padding: 10px;
        }
        .nav-link:hover {
            color: #0056b3
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 6px;
            align-items: center;
        }
.nav-top {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 120px;
    align-items: center;
    font-size: 24px;
    text-shadow: 2px 2px 5px #333;
    border-radius: 7px;
}
.nav-top li {
    display: table-cell;
    margin: 0 15px;
}
h2 {text-align: center;}
.nav-button {
            text-decoration: none;
            color: #007BFF;
            border: 3px solid #007BFF;
            padding: 8px 16px;
            border-radius: 6px;
            background-color: #fff;
        }
        .nav-button:hover {
            color: #0056b3
        }
label:has(+input:required)::after,
label:has(+textarea:required)::after,
label:has(+select:required)::after {
    content: " *";
    color: red;
}
ul {
    list-style-type: disc;
    margin: 20px;
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}
.center-text{
    text-align: center;
}
.projectenLijst {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0
}
.nav-grid {
    display: block;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-decoration: none;
}
    .nav-grid:hover {
        background-color: #0056b3;
}